graft examples
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .isort.cfg

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini

{%- if cookiecutter.travis|lower == "yes" %}
include .travis.yml
{%- endif %}
{%- if cookiecutter.landscape|lower == "yes" %}
include .landscape.yml
{%- endif %}
{%- if cookiecutter.use_django|lower == "yes" %}
include runtests.py
{%- endif %}
{%- if cookiecutter.appveyor|lower == "yes" %}
include appveyor.yml
{%- endif %}

recursive-include requirements *.txt

global-exclude *.py[cod] __pycache__ *.so *.dylib release.sh
